body {
  background-color: #dbe8ea;
}

img {
  float: left;
  width: 165px;
  height: 165px;
  margin: 10px;
}

.header {
  color: gray;
  font-family: cursive;
  font-size: 20px;
  border: 1px solid #dbe8ea;
  padding: 2px;
  margin: 10px;
  background-color: #dbe8ea;
  float: left;
  width: 65%;

}
.important {
  color: gray;
  border: 1px solid gray;
  padding: 2px;
  margin: 10px;
  background-color: white;
  float: left;
  width: 75%;

}

.unimportant {
  color: #4dc5a1;
  border: 1px solid gray;
  padding: 2px;
  margin: 10px;
  background-color: white;
  float: left;
  width: 75%
}

.sidebar {
  background-color: white;
  width: 20%;
  height: 1000px;
  float: right;
  border: 1px solid gray;
  padding: 2px;
  margin: 10px;
  color: gray;
}

.aboutme {
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
}

.name {
  font-size: 50px;
}

.quote {
  font-style: italic;
  color: orange;
}
